/* common style */

* {
    padding: 0;
    margin: 0;
    border: none;
}

html {
}

body {
    background-color: #202020;
    font-family: helvetica, arial, sans-serif;
}

.blog p,
h1, h2, h3, h4, h5, h6,
ul, ol, pre
{
    margin: 6px 0;
}

a {
    color: black;
    text-decoration: none;
    outline: none;
}

ul, ol {
    margin-left: 2em;
}

hr {
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    margin: 12px 0;
}

blockquote {
    background: white;
    background: rgba(255, 255, 255, 0.2);
    border-left: 6px solid rgba(255, 255, 255, 0.4);
    margin: 12px 0;
    padding: 6px;
}

code {
    background: white;
    background: rgba(255, 255, 255, 0.2);
    margin: 6px;
    padding: 4px;
    height: 18px;
}

pre code {
    display: block;
    margin: 12px 0;
    padding: 0;
    height: auto;
}

/* content */

.content {
    padding: 0 10%;
}

.hint, .header, .blog, .footer {
    margin: 2px;
    overflow: hidden;
    background: white;
    background: rgba(255, 255, 255, 0.6);
    padding: 6px;
}

/* index.html */

.img_bottom {
    bottom: -100%;
    position: fixed;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 100%;
}

.posts {
    margin: 0 auto;
}

.post {
}

.postcontent {
    position: absolute;
    top: 2px;
    bottom: 2px;
    left: 2px;
    right: 2px;
    background: white;
    background: rgba(255, 255, 255, 0.6);
}

.postlink, .posttags {
    overflow: hidden;
    cursor: default;
}

.postlink {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 6px;
}

.postdate {
    text-align: right;
    font-style: italic;
}

.posttitle {
    margin: 0;
}

.postdetail {
}

.posttags {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 28px;
}

.tagicon {
    float: right;
    margin: 2px;
    height: 24px;
}

.tagtext {
    float: right;
    padding: 4px;
    height: 18px;
}

.bigicon {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -60px;
    margin-left: -60px;
    height: 120px;
}

.midicon {
    position: absolute;
    top: 24px;
    left: 50%;
    margin-left: -30px;
    height: 60px;
}

/* post.html */

.blog {
    border-left: 6px solid rgba(255, 255, 255, 0.4);
}

.blogdate {
    font-style: italic;
}

.blogtitle {
}

.blogtags {
}

.footer {
    text-align: center;
}
