/* default.html */

* {
    padding: 0;
    margin: 0;
    border: none;
}

html {
}

body {
    background-color: #202020;
    font-family: helvetica, arial, sans-serif;
}

a {
    color: black;
}

.content {
    padding: 0 10%;
}

.footer {
}

.hint {
    margin: 2px;
    overflow: hidden;
    background: white;
    background: rgba(255, 255, 255, 0.5);
    padding: 6px;
}

.img_bottom {
    bottom: -100%;
    position: fixed;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 100%;
}

/* index.html */

.posts {
    margin: 0 auto;
}

.post {
}

.postcontent, .postcategories {
    position: absolute;
    left: 2px;
    right: 2px;
    overflow: hidden;
    background: white;
    background: rgba(255, 255, 255, 0.5);
    text-decoration: none;
}

.postcontent {
    top: 2px;
    bottom: 2px;
    padding: 6px;
    cursor: default;
}

.postdate {
    text-align: right;
    font-style: italic;
}

.posttitle {
}

.postdetail {
}

.postcategories {
    height: 32px;
    bottom: 2px;
    text-align: right;
}

.categoryicon {
    float: right;
    margin: 2px;
    height: 28px;
}

.bigicon {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top:-60px;
    margin-left:-60px;
    width: 120px;
    height: 120px;
}
